MONGO_USER=yourUsernameHere
MONGO_PASS=yourPasswordHere
MONGO_HOST=cluster0.burge.mongodb.net
MONGO_DB_NAME=yourDatabaseNameHere
EMAIL_USER="no.reply.littlehands@gmail.com"
EMAIL_PASS="lmdh prjm qibn cqks"
JWT_SECRET="supersecret123"
ID_ANALYZER_API_KEY=raQQLZXgNUfXAaw8VJPn8Sz4AyJYOgL6

PORT=3000