MONGO_USER=yourUsernameHere
MONGO_PASS=yourPasswordHere
MONGO_HOST=cluster0.burge.mongodb.net
MONGO_DB_NAME=yourDatabaseNameHere
EMAIL_USER="no.reply.littlehands@gmail.com"
EMAIL_PASS="lmdh prjm qibn cqks"
JWT_SECRET="supersecret123"
ID_ANALYZER_API_KEY="1FwGmpYS1DLKBLO3OsiDfbuCcI5bpear"
KYC_PROFILE_ID="408b5d80067443708d6738a246d4f82b"
STRIPE_SECRET_KEY=sk_test_51RHnWbR769NbdzCKL0qxwo0FKX6VFBltT2gFCVYYkl8BB7ipcWmtR69Q4PO0gPgdcfZv3rZtudjGbyMgdierbyGX00dBYHOt2p
CLIENT_URL=http://localhost:3000
STRIPE_WEBHOOK_SECRET=whsec_cce09c488f7d3d6d636077f4195c8ed78cdf040cacab7651ae752c7699bbc6ef
GEMINI_API_KEY=AIzaSyCaxsgwc6yTsP2eNSXHu4s2vjRy76IKJ18
ZOOM_CLIENT_ID=JjeBV5vGRoWbqatnJJeVZw
ZOOM_CLIENT_SECRET=BMTG7610v83TbUZNkGYViai3BZlzC659
ZOOM_ACCOUNT_ID=1uV2xuqHQP2oUCpi6nkEoQ
PORT=3000